<div>
    <h1>Create a new todo item!</h1>
    <form name="todoForm">

        <p>
            <label>Name:</label> <input type="text" placeholder="test" name="name" ng-model="todo.name" required/> <span ng-show="todoForm.name.$error.required">Fill in a name</span>
        </p>
        <p>
            <label>Sort:</label> <input type="number" name="sorter" ng-model="todo.sort" min="0" required/>
        </p>
        <p>
            <label>Description:</label> <textarea name="description" ng-model="todo.description" required></textarea>
        </p>
        <button ng-disabled="todoForm.$invalid" ng-click="createNew()">Save</button>
        <button ng-click="clearForm()">Clear</button>
        <div class="todo-added-{{ success }}">
            <span>Todo item added! <a href="/app/index.html">View list?</a></span>
        </div>
        <div class="todo-error-{{ error }}">
            <span>{{ errorMessage }}</span>
        </div>
    </form>
</div>
